
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

#root{
  background-color: rgb(101, 159, 226);
}
#root2{
  background-color: rgb(211, 173, 116);
}
#root3{
  background-color: aquamarine;
}
#root4{
  background-color: rgb(238, 46, 210);
}
#root5{
  background-color: rgb(238, 46, 210);
  /*test prueba github*/
  /*test2 prueba github*/
}
